.navbar_logo{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    height: 90px;
    margin-left: 40px;
    font-weight: 700;
}
.navabr{
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
}
.navbar_item{
    display: flex;
    margin: 20px 20px;
    font-size: 1.2em;
    font-weight: 500;
    list-style: none;
}
.navbar_item_li{
    
    margin: 10px;
}
